<!-- Navbar Menu Usuario-->
<div class="ms-auto">
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-circle"></i> @ViewData["nombreUsuario"]</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Configuración</a></li>
                <li><a class="dropdown-item" href="#!">Registro de actividad</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="@Url.Action("CerrarSesion", "Home")">Cerrar Sesión</a></li>
            </ul>
        </li>
    </ul>
</div>
